<div class="container">

    <div class="content-container">

        <h1>Agregar Nueva Linea</h1>

        <form [formGroup]="form" (ngSubmit)="addlinea()">
            <mat-grid-list cols="2" rowHeight="80px">
                <!-- Campo de número -->
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Número</mat-label>
                        <input formControlName="numero" matInput placeholder="Número">
                    </mat-form-field>
                </mat-grid-tile>

                <!-- Campo de IMEI -->
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>ImeI</mat-label>
                        <input formControlName="imei" matInput placeholder="ImeI">
                    </mat-form-field>
                </mat-grid-tile>

                <!-- Fecha de Compra ocupa ambos columnas -->
                <mat-grid-tile [colspan]="2">
                    <mat-form-field appearance="outline">
                        <mat-label>Fecha de Compra</mat-label>
                        <input formControlName="fechaCompra" matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </mat-grid-tile>

                <!-- Botones -->
                <mat-grid-tile>
                    <button type="submit" mat-raised-button color="warn">
                        Guardar
                    </button>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button routerLink="/listAreas" mat-raised-button color="warn">Atrás</button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>


    </div>
</div>