

 /* .title{
    
    padding: 30px;
    background-color: #666;
    text-align: center;
    color:white;
    width: 100%;
  } */

 /* .mat-grid-tile.mat-form-field{
    width: 100%;
    margin: 5px;
  } */



