<app-spinner></app-spinner>

<div style="margin: 1% 1%; text-align: center;">

  <mat-form-field class="edit">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Serie Colum -->
    <ng-container matColumnDef="serie">
      <th mat-header-cell *matHeaderCellDef>Serie</th>
      <td mat-cell *matCellDef="let element"> {{element.serie}} </td>
    </ng-container>

    <!-- Marca Colum -->
    <ng-container matColumnDef="marca">
      <th mat-header-cell *matHeaderCellDef>Marca</th>
      <td mat-cell *matCellDef="let element"> {{element.modelo.marca.nombreMarca}} </td>
    </ng-container>

    <!-- Modelo Colum -->
    <ng-container matColumnDef="modelo">
      <th mat-header-cell *matHeaderCellDef>Modelo</th>
      <td mat-cell *matCellDef="let element"> {{element.modelo.nombreModelo}} </td>
    </ng-container>


    <!--N° Factura Colum -->
    <ng-container matColumnDef="factura">
      <th mat-header-cell *matHeaderCellDef>N° Factura</th>
      <td mat-cell *matCellDef="let element"> {{element.nroFactura}} </td>
    </ng-container>


    <!-- N° Guia Colum -->
    <ng-container matColumnDef="guia">
      <th mat-header-cell *matHeaderCellDef>N° Guia</th>
      <td mat-cell *matCellDef="let element"> {{element.nroGuia}} </td>
    </ng-container>

    <!-- Valor Neto Colum -->
    <ng-container matColumnDef="valor">
      <th mat-header-cell *matHeaderCellDef>Valor Neto</th>
      <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
    </ng-container>

    <!-- Fecha Compra Colum -->
    <ng-container matColumnDef="fechaCompra">
      <th mat-header-cell *matHeaderCellDef>Fecha Compra</th>
      <td mat-cell *matCellDef="let element"> {{element.fechaCompra | date: 'dd-MM-yyyy' }} </td>
    </ng-container>

    <!-- SO Colum -->
    <ng-container matColumnDef="SO">
      <th mat-header-cell *matHeaderCellDef>S0</th>
      <td mat-cell *matCellDef="let element"> {{element.so.nombreSO}} </td>
    </ng-container>




    <!-- Ubicacion Activo Colum -->
    <ng-container matColumnDef="ubicacion">
      <th mat-header-cell *matHeaderCellDef>Ubicacion de Activo</th>
      <td mat-cell *matCellDef="let element"> {{element.ubicacionActivo.ubicacion}} </td>
    </ng-container>


    <!-- Pais colum -->
    <ng-container matColumnDef="pais">
      <th mat-header-cell *matHeaderCellDef>Pais </th>
      <td mat-cell *matCellDef="let element"> {{element.pais.nombrePais}} </td>
    </ng-container>

    <!-- Acciones colum -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef><button routerLink="/computador" mat-raised-button
          color="warn">Nuevo</button> </th>

      <td mat-cell *matCellDef="let element">

        <mat-icon matTooltip="buscar" aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon>
        <mat-icon routerLink="/colaborador" matTooltip="Editar" aria-hidden="false" aria-label="Example home icon"
          fontIcon="edit"></mat-icon>


      </td>


    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

</div>